// colors
$bg-color: #f8f8f8;
$shape-color: #000000;

// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

@mixin square($width,$height,$background) {
  width: $width;
  height: $height;
  background: $background;
}

@mixin breakpoint($point) {
    @if $point==tablet {
        @media (max-width: 1024px) and (min-width: 768px) {
            @content ;
        }
    }
    @else if $point==mobile {
        @media (max-width: 480px) and (min-width: 320px) {
            @content ;
        }
    }
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: $bg-color;
  overflow: hidden;
}

.hair{
  @include center;
  top: 0.5vmin;
  left: -4vmin;
  width: 26vmin;
  height: 60vmin;
  background: $shape-color;
  border-top-left-radius: 10vmin;
  border-top-right-radius: 10vmin;
  border-bottom-right-radius: 17vmin;
  border-bottom-left-radius: 20.5vmin;

  &:before{
    @include pseudo;
    top: -3vmin;
    left: -3vmin;
    width: 42vmin;
    height: 57.8vmin;
    background: $shape-color;
    transform: rotate(0deg);
    border-radius: 55% 75% 0% 100% / 100% 99% 1% 18%;
  }  

  &:after{
    @include pseudo;
    top: -2.3vmin;
    left: -11vmin;
    width: 36vmin;
    height: 42vmin;
    background: $shape-color;
    transform: rotate(1deg);
    border-radius: 58% 52% 100% 0% / 91% 100% 0% 9%;
  }
}

.hair-2{
  @include center;
  top: 42vmin;
  left: 15.8vmin;
  width: 10vmin;
  height: 10vmin;
  background: $shape-color;
  transform: rotate(-28deg);
  
  &:before{
    @include pseudo;
    top: -10vmin;
    left: -15.7vmin;
    width: 10vmin;
    height: 13vmin;
    background: $shape-color;
    transform: rotate(-25deg);
    border-radius: 55% 75% 0% 100% / 100% 99% 1% 18%;
  }    

  &:after{
    @include pseudo;
    top: -5.2vmin;
    left: -17vmin;
    width: 0;
    height: 0;
    border-bottom: 3vmin solid $shape-color;
    border-left: 1vmin solid transparent;
    border-right: 1vmin solid transparent;
    transform: rotate(195deg);
  }  
}

.hair-3{
  @include center;
  top: -5vmin;
  left: -43vmin;
  width: 20vmin;
  height: 30vmin;
  background: $shape-color;
  border-top-left-radius: 100%;
  transform: rotate(-16deg);

  &:before{
    @include pseudo;
    top: 27vmin;
    left: -0.4vmin;
    width: 12vmin;
    height: 14vmin;
    background: $shape-color;
    transform: rotate(5deg);
  }  

  &:after{
    @include pseudo;
    top: 37vmin;
    left: -3vmin;
    width: 8.5vmin;
    height: 15vmin;
    background: $shape-color;
    transform: rotate(37deg);
    border-bottom-right-radius: 10vmin;
  }
}

.hair-4{
  @include center;
  top: 44vmin;
  left: -44.8vmin;
  width: 8vmin;
  height: 14vmin;
  background: $shape-color;

  &:before{
    @include pseudo;
    top: 11.6vmin;
    left: -1.5vmin;
    width: 5vmin;
    height: 5vmin;
    background: $shape-color;
    transform: rotate(-20deg) skewX(23deg);
  }  

  &:after{
    @include pseudo;
    top: 13vmin;
    left: -7.5vmin;
    width: 8vmin;
    height: 10vmin;
    background: $bg-color;
    transform: rotate(-20deg) skewX(23deg);
  }
}

.hair-5{
  @include center;
  top: 50.4vmin;
  left: 36.9vmin;
  width: 9.4vmin;
  height: 14vmin;
  background: $shape-color;
  transform: rotate(-35deg);

  &:before{
    @include pseudo;
    top: -0.1vmin;
    left: 10.4vmin;
    width: 8vmin;
    height: 17vmin;
    background: $bg-color;
    transform: rotate(30deg);
    border-top-left-radius: 5vmin;
    border-bottom-left-radius: 5vmin;
  }  

  &:after{
    @include pseudo;
    top: -1vmin;
    left: 13.2vmin;
    width: 0;
    height: 0;
    border-bottom: 8vmin solid $shape-color;
    border-left: 0.8vmin solid transparent;
    border-right: 0.8vmin solid transparent;
    transform: rotate(205deg);
  }
}

.hair-6{
  @include center;
  top: 61vmin;
  left: 38vmin;
  width: 4.7vmin;
  height: 6vmin;
  background: $shape-color;
  transform: rotate(-40deg);

  &:before{
    @include pseudo;
    top: -4vmin;
    left: -0.7vmin;
    width: 6.5vmin;
    height: 9vmin;
    background: $shape-color;
    border-top-left-radius: 7vmin;
    border-bottom-left-radius: 1.5vmin;
    transform: rotate(-39deg);
  }

  &:after{
    @include pseudo;
    top: -38.5vmin;
    left: 22.5vmin;
    width: 8vmin;
    height: 24vmin;
    background: $shape-color;
    transform: rotate(25deg);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 60%;
  }
}

.face{
  @include center;
  z-index: 2;
  top: -27vmin;
  left: -8vmin;
  width: 23vmin;
  height: 20vmin;
  background: $bg-color;
  transform: skewX(22.5deg);
  border-top-left-radius: 14.5vmin;
  border-top-right-radius: 4vmin;

  &:before{
    @include pseudo;
    top: 17.8vmin;
    left: 6.3vmin;
    width: 15vmin;
    height: 15.5vmin;
    background: $bg-color;
    transform: skewX(-22.5deg);
    border-top-right-radius: 8vmin;
    border-bottom-right-radius: 5vmin;
  }  

  &:after{
    @include pseudo;
    top: 19vmin;
    left: -7.35vmin;
    width: 20vmin;
    height: 28vmin;
    background: $bg-color;
    transform: rotate(4deg) skewX(-22.5deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 45%;
  }
}

.face-2{
  @include center;
  top: 0.55vmin;
  left: -25vmin;
  width: 12vmin;
  height: 18vmin;
  background: $bg-color;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 100%;
  transform: rotate(-9deg);

  &:before{
    @include pseudo;
    left: 1.2vmin;
    width: 10vmin;
    height: 15vmin;
    background: $bg-color;
    transform: rotate(20deg);
    border-bottom-left-radius: 45%;
  }

  &:after{
    @include pseudo;
    top: -11vmin;
    left: 3.5vmin;
    width: 10vmin;
    height: 25vmin;
    background: $bg-color;
    transform: rotate(5deg);
    border-top-left-radius: 50%;
  }
}

.face-3{
  @include center;
  top: 26.5vmin;
  left: 6.5vmin;
  width: 10vmin;
  height: 18vmin;
  background: $bg-color;
  border-bottom-right-radius: 10vmin;
  border-bottom-left-radius: 5vmin;
  transform: rotate(7deg);

  &:before{
    @include pseudo;
    top: 4.6vmin;
    left: 2vmin;
    width: 11vmin;
    height: 10vmin;
    background: $bg-color;
    border-top-right-radius: 10vmin;
    transform: rotate(34deg);
  }  

  &:after{
    @include pseudo;
    top: 3.5vmin;
    left: 10.1vmin;
    width: 4vmin;
    height: 9vmin;
    background: $shape-color;
    border-top-left-radius: 2.2vmin;
    transform: rotate(-10deg);
  }
}

.face-4{
  @include center;
  z-index: 2;
  top: 38.2vmin;
  left: 9.3vmin;
  width: 4vmin;
  height: 4vmin;
  background: $bg-color;
  transform: rotate(6deg);

  &:before{
    @include pseudo;
    top: 3.6vmin;
    left: -11vmin;
    width: 12.5vmin;
    height: 4vmin;
    background: $bg-color;
    border-bottom-left-radius: 2.5vmin;
    transform: rotate(-12deg);
  }
}

.eye-right{
  @include center;
  top: -10.4vmin;
  left: 11vmin;
  z-index: 2;
  width: 13vmin;
  height: 5.2vmin;
  background: $shape-color;
  border-top-left-radius: 2.5vmin;
  border-bottom-left-radius: 2.5vmin;
  transform: rotate(-7deg);

  &:before{
    @include pseudo;
    top: 2.7vmin;
    left: 1.1vmin;
    width: 10.2vmin;
    height: 8vmin;
    background: $bg-color;
    border-radius: 5vmin;
    transform: rotate(30deg);
  }  

  &:after{
    @include pseudo;
    top: 0.4vmin;
    left: 3.2vmin;
    width: 4vmin;
    height: 3vmin;
    background: $shape-color;
    border-top-left-radius: 5vmin;
    border-bottom-right-radius: 1vmin;
    transform: rotate(40deg);
  }
}

.eye-right-2{
  @include center;
  top: -4.9vmin;
  left: 5vmin;
  z-index: 2;
  width: 4vmin;
  height: 4vmin;
  background: $bg-color;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  transform: rotate(-40deg);

  &:before{
    @include pseudo;
    top: -0.1vmin;
    left: -1vmin;
    width: 3vmin;
    height: 3vmin;
    background: $bg-color;
    transform: rotate(25deg);
  }
}

.eye-left{
  @include center;
  top: -12.5vmin;
  left: -21.5vmin;
  z-index: 2;
  width: 11.5vmin;
  height: 2.4vmin;
  background: $shape-color;
  border-top-left-radius: 100%;
  transform: rotate(5deg);

  &:before{
    @include pseudo;
    top: 1vmin;
    left: 5.3vmin;
    width: 2.7vmin;
    height: 2.7vmin;
    background: $shape-color;
    transform: rotate(-45deg);
  }

  &:after{
    @include pseudo;
    top: 0.4vmin;
    left: 9vmin;
    width: 2vmin;
    height: 3vmin;
    background: $shape-color;
    border-bottom-right-radius: 1vmin;
    transform: rotate(-88deg) skewX(-20deg);
  }
}

.nose{
  @include center;
  top: 15.6vmin;
  left: -5.95vmin;
  z-index: 2;
  width: 6.5vmin;
  height: 2.1vmin;
  background: $shape-color;
  border-top-left-radius: 4vmin;
  border-bottom-right-radius: 5vmin;
  border-bottom-left-radius: 0;
  transform: rotate(20deg);

  &:before{
    @include pseudo;
    top: -0.65vmin;
    left: 1.1vmin;
    width: 6.5vmin;
    height: 0.7vmin;
    background: $shape-color;
    transform: rotate(-20deg);
  }  

  &:after{
    @include pseudo;
    top: 0.2vmin;
    left: 1.8vmin;
    width: 4.1vmin;
    height: 7vmin;
    background: $shape-color;
    transform: rotate(-18deg) skewX(-40deg);
  }
}

.mustache{
  @include center;
  top: 29vmin;
  left: -3.5vmin;
  z-index: 2;
  width: 16.9vmin;
  height: 6vmin;
  background: $shape-color;
  border-top-left-radius: 4vmin;
  border-top-right-radius: 5vmin;

  &:before{
    @include pseudo;
    top: 3.5vmin;
    left: -0.6vmin;
    width: 18vmin;
    height: 4.3vmin;
    background: $bg-color;
    border-radius: 60% 55% 100% 0% / 100% 100% 0% 9%;
  }

  &:after{
    @include pseudo;
    top: -2.7vmin;
    left: 4vmin;
    width: 2vmin;
    height: 5vmin;
    background: $shape-color;
    transform: rotate(48deg);
  }
}

.mustache-2{
  @include center;
  top: 23.3vmin;
  left: 4.3vmin;
  z-index: 2;
  width: 10vmin;
  height: 3.8vmin;
  background: $shape-color;
  border-top-left-radius: 0vmin;
  border-top-right-radius: 100%;
  transform: rotate(25deg);

  &:before{
    @include pseudo;
    top: 4vmin;
    left: -3.5vmin;
    width: 2vmin;
    height: 4vmin;
    background: $shape-color;
    transform: rotate(35deg);
  }

  &:after{
    @include pseudo;
    top: 9.2vmin;
    left: 2vmin;
    width: 5.4vmin;
    height: 2.5vmin;
    background: $shape-color;
    border-radius: 81% 19% 43% 57% / 0% 41% 59% 100%;
    transform: rotate(-25deg);
  }
}
